* {
    margin: 0;
    padding: 0;
}
h1 {
    color: #DC143C;
}
.register {
    margin: 0 auto;
    width: 50%;
}
.inputBox {
    text-align: center;
}
.btn {
    text-align: center;
    margin-top: 5px;
}